.app {
    text-align: center;
}

.content-container {
    padding: 5%;
}

.books-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
