.authorBorder {
    border: thick double #32a1ce;
    margin: 1em;
    border-radius: 20px;
    padding: 20px;
    max-width: 200px;
}

.search-result-container {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.authorDiv {
    display: flex;
    flex-direction: row;
}

.all-books-list {
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
}

.store-item {
    border: double yellowgreen;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
