body {
    margin: 0;
    font-family: sans-serif;
}

.inputStyle {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.inputBoxStyle {
    min-width: 270px;
    margin-right: 10px;
}
